.btn-custom {
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 25px; /* Rounded buttons */
}

.btn-success {
    color: white;
    border: none;
}

.btn-outline-dark {
    background-color: white;
    color: black;
    border: 2px solid black;
}

.support-container{
    background-color: var(--pri);
    opacity: 0.8;
}
.btn-success:hover {
    background-color: #218838; /* Darker Green */
}

.btn-outline-dark:hover {
    background-color: black;
    color: white;
}

.custom-centric{
    display: flex;
    justify-content: center;
}

.w-52{
    width: 60%;
}

@media (max-width: 768px) {
    
.custom-centric{
    display: block;
}
.w-52{
    width: 90%;
}
}